#define WIFI_SSID "Fritzbox 12345"
#define WIFI_PSK "1234567890"
#define MQTT_SERVER "mqtt.lan"
#define MQTT_PORT 1883
#define MQTT_USER NULL
#define MQTT_PASS NULL
#define MQTT_TOPIC "sensors/air/sleeping_room"
#define MEASUREMENT_INTERVAL 1000
#define SEND_EVERY_NTH_MEASUREMENT 5
#define SAVE_BASELINE_EVERY_NTH_MEASUREMENT 86400
